.c1 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 100px;
    margin-left: auto;
    margin-bottom: 100px;
    margin-right: auto;
}

.c3 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    /* 한꺼번에 주는 숏핸드 기법 시계방향 top-> right -> bottom -> left */
    margin: 100px 0px 100px 100px;

}

.c2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    /* 왼쪽기준으로 설정됨 */
    margin-left: 100px;
    margin-right: 100px;

}

/* 가로 500 세로 300 yellow */

.c4 {
   width: 500px;
   height: 300px;
   background-color: yellow; 
   overflow: hidden;
   margin: 0px auto;
}

.c4_1 {
   width: 50%;
   height: 200px;
   /* top right 다시 앞으로 돌아와서 bottom left로 
   방향에 맞게 간격이 같을 경우 한번만 기입가능 */
   margin: 50px auto;
   background-color: red;
}

.c4_2 {
    width: 250px;
    height: 200px;
    background-color: blue;
}