.bu1 {
    background-color: crimson;
    border-radius: 10px;
    border: dashed 10px;
    
    box-sizing: content-box;
    
    padding: 15px;

    font-size: 100px;

}

.bu2 {
    background-color: black;
    border: 4px inset silver;
   
    color: aliceblue; 

    padding: 10px;
    font-size: 20px;
}

.bu3 {
    color: yellowgreen;
    font-weight: bold;
    background-color: darkslategrey;
    border: dotted greenyellow;
    
    font-style: oblique;
    padding: 10px;

}

.bu4 {
    color: slategray;
    border: 3px royalblue hidden;
    border-radius: 100%;
    padding: 30px 20px;

    font-size: 30px;

}

