.wrap {

    width: 525px;
    height: 100px;
    border: black 1px solid;
}

.c1 {
    width: 100px;
    height: 100px;
    
}

.bg1 {
    background-color: red;
    float: left;
}

.bg2 {
    background-color: yellow;
    float:left;
}

.bg3 {
    background-color: blue;
    float: right;
}

.bg4 {
    background-color: black;
    clear: both;
    /* float의 영향을 받지말아랏 : clear
    요새는 잘 안쓴다고 그렇다고 합니돠 */
}