.c1 {
    width: 100px;
    height: 100px;
}

.p1{
    background-color: red;
    position: static;
}

.p2{
    background-color: blue;
    position: absolute;
    top: 50px;
    right: 0px;
    /* absolute 전체화면의 절대위치 */
}

.p3{
    background-color: yellow;
    position: fixed;
    /* 현재 보이는 화면에서 절대위치 */
    top: 200px;
    left: 300px;
    z-index: 778;
}

.p4{
    background-color: black;
    position: relative;
    height: 200px;
    width: 300px;
    z-index: 777;
    top: 200px;
    left: 50px;
}

.p5 {
    background-color: pink;
    /* 부모클래스가 relative면 자식은 albsolute로 
    position하면 margin계산없이 위치이동 가능 */
    position: absolute;
    bottom: 0;
    right: 0;
}

.p6 {
    background-color: gray;
}