/* * {
    color: red;
} */

#id1 {
    color: blue;
}

h1 {
    color: red;
}

/* h2, h3, #id1  */
.c1 {
    color: yellow;
}

*{
    margin: 0;
    padding: 0;
}
.c2 {
    width:200px;
    height: 200px;
    background-color: black;

}
/* 자손선택자 */
.c2 > p {
    color: white;
    text-decoration: line-through;
}
/* 후손선택 */
.c2 > div > p {
    color: greenyellow;
    text-decoration: ;
}

/* 후손선택 
.c2 p {
    color: yellow;
}
*/