<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.iu.s1.member.MemberDAO">
  	<insert id="memberJoin" parameterType="MemberDTO">
  		INSERT INTO MEMBER2 (ID, PW, NAME, ADDRESS, CALL, EMAIL)
  		VALUES (#{id}, #{pw}, #{name}, #{address}, #{call}, #{email})
  	</insert>
  	
  	
  	
  	
  	</mapper>