<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.iu.s1.board.notice.NoticeDAO">
  
  	<sql id="noticeCondition">
  		<trim prefix="where" suffixOverrides="and">
	  			  		
	  		<if test="kind == 'title'">
	  			TITLE LIKE '%'||#{search}||'%'
	  		</if>
	  		
	  		<if test="kind == 'contents'">
	  			CONTENTS LIKE '%'||#{search}||'%'
	  		</if>
	  		
	  		<if test="kind == 'writer'">
	  			WRITER LIKE '%'||#{search}||'%'	
	  		</if>
  		</trim>
  	</sql>
  
    
  	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  			SELECT COUNT(NUM) FROM NOTICE
  		<include refid="noticeCondition"></include>	
  	</select>
  	
  	<select id="getBoardList" resultType="NoticeDTO" parameterType="Pager">
  		SELECT * FROM
  		(
  			SELECT ROWNUM R, N.* FROM
  			(
  				SELECT * FROM NOTICE
  				<include refid="noticeCondition"></include>
  				ORDER BY NUM DESC
  				)N
  		)
  		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	
  	</select>
  	
  	<select id="getBoardDetail" parameterType="BoardDTO" resultMap="getBoardDetailResult">
  		SELECT N.*, NF.*
  		FROM NOTICE N
  			LEFT JOIN
  			NOTICEFILES NF
  			ON (N.NUM=NF.NUM)
  		WHERE N.NUM = #{num}	
  	
  	</select>
  	<resultMap type="NoticeDTO" id="getBoardDetailResult">
  		<id column="NUM" property="num"/>
  		<result column="TITLE" property="title"/>
  		<result column="WRITER" property="writer"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="REGDATE" property="regDate"/>
  		<result column="HIT" property="hit"/>
  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  		</collection>	
  	</resultMap>
  
  
  	<insert id = "setBoardAdd" parameterType="BbsDTO">
  	  	<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL 
  		</selectKey>
  		
  		INSERT INTO NOTICE (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT)
  		VALUES(#{num}, #{title}, #{contents}, #{writer}, sysdate, 0)
  	
  	</insert>
  	
  	<insert id="setBoardFileAdd" parameterType="BoardFileDTO">
  		INSERT INTO NOTICEFILES (FILENUM, NUM, FILENAME, ORINAME)
  		VALUES(NFILE_SEQ.NEXTVAL,#{num},#{fileName},#{oriName})
  	</insert>
  	
  
  	<delete id="setBoardDelete" parameterType="BbsDTO">
  		DELETE NOTICE WHERE NUM=#{num}
  	</delete>
  
  	<select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
  		SELECT * FROM NOTICEFILES WHERE NUM=#{num}
  	
  	</select>
  	<select id="getBoardFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  		SELECT * FROM NOTICEFILES WHERE FILENUM=#{fileNum}
  	</select>
  
  
  
  </mapper>