<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!-- namespace는 사용하려는 패키지의 풀 패키지명으로 설정 -->
  <mapper namespace="com.iu.s1.product.ProductDAO">
  	<!-- id = 사용하려는 DAO의 메서드 명과 동일하게 -->
  	<select id="getProductList" resultType="ProductDTO" statementType="PREPARED">
  		SELECT PRODUCTNUM, PRODUCTNAME, PRODUCTJUMSU
  		FROM PRODUCT 
  		ORDER BY PRODUCTNUM DESC
  	</select>
  	
  	<!-- id = 사용하려는 DAO의 메서드 명과 동일하게 -->
  	<select id="getProductDetail" parameterType="ProductDTO" resultType="ProductDTO">
  			SELECT * FROM PRODUCT WHERE PRODUCTNUM=#{productNum}
  	</select>
  	
  	<!-- insert, update, delete 는 resultType이 존재하지 않는다 -->
  	<insert id="getAddProduct" parameterType="ProductDTO">
  		INSERT INTO PRODUCT (PRODUCTNUM, PRODUCTNAME, PRODUCTDETAIL, PRODUCTJUMSU)
  		VALUES(#{productNum}, #{productName}, #{productDetail}, 0.0)
  	</insert>
 									<!-- java.lang.Long 에는 productNum이 없음 DTO가 아님 -->
 	<delete id="setProductDelete" parameterType="Long">
 							<!-- DAO에 선언된 변수명입력↓ -->
 		DELETE PRODUCT WHERE PRODUCTNUM=#{productNum}
 	</delete>
  
  
  
  
  </mapper>
