<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!-- namespace는 사용하려는 패키지의 풀 패키지명으로 설정 -->
  <mapper namespace="com.iu.s1.product.ProductDAO">
  	<select id="getProductNum" resultType="Long">
  		SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
  	</select>
  
  	<!-- id = 사용하려는 DAO의 메서드 명과 동일하게 -->
  	<select id="getProductList" parameterType="Pagination" resultType="ProductDTO" statementType="PREPARED">
  		SELECT * FROM
  			(
				SELECT ROWNUM R, P.* FROM
					(
						SELECT * FROM PRODUCT
						ORDER BY PRODUCTNUM DESC
					) P
			)
			WHERE R BETWEEN #{strartRow} AND #{lastRow}
  	</select>
  	
  	<!-- id = 사용하려는 DAO의 메서드 명과 동일하게 -->
  	<select id="getProductDetail" parameterType="ProductDTO" resultType="ProductDTO">
  			SELECT * FROM PRODUCT WHERE PRODUCTNUM=#{productNum}
  	</select>
  	
  	<!-- insert, update, delete 는 resultType이 존재하지 않는다 -->
  	<insert id="setProductAdd" parameterType="ProductDTO">
  		INSERT INTO PRODUCT 
  		VALUES(PRODUCT_SEQ.NEXTVAL, #{productName}, #{productDetail}, 0.0)
  	</insert>
 									<!-- java.lang.Long 에는 productNum이 없음 DTO가 아님 -->
 	<delete id="setProductDelete" parameterType="Long">
 							<!-- DAO에 선언된 변수명입력↓ -->
 		DELETE PRODUCT WHERE PRODUCTNUM=#{productNum}
 			
 	</delete>
 	
 	
  
  </mapper>
